.form {
    width: 500px;
    margin: auto;
  }
  
  .full-width {
    width: 100%;
  }
  
  #content { 
    padding: 20px;

    text-align: center;
  }
  
  #ueberschrift {
     background-color: #FF5864;
  }
  
  h1 {
    color: white;
  }

  .radiob {
    padding-right: 1em;
    color: #FF5864;
  }

  p {
    padding-bottom: 0.5em;
    color: gray;
  }

  @media only screen and (max-width: 600px) {
    .form {
      width: 200px;
      margin: auto;
    }
  }

  @media only screen and (min-width: 900px) {
    .form {
      width: 350px;
      margin: auto;
    }
  }  

  @media only screen and (min-width: 900px) {
   .form {
      width: 700px;
      margin: auto;
    }
  }