.form {
    width: 500px;
  }
  
  .full-width {
    width: 100%;
  }
  
  #content { 
    padding: 20px;
  }
  
  #ueberschrift {
     background-color: #FF5864;
  }
  
  h1 {
    color: white;
  }

  .radiob {
    padding-right: 1em;
    color: #FF5864;
  }

  p {
    padding-bottom: 0.5em;
    color: gray;
  }