body {

}

div {
  width: 40%;
  margin: auto;
}


.carousel {
  width: 40%;
  height: auto;
}

.carousel .button {
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FE5E5E;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

h2 {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: #FE5E5E;
  border-radius: 12px;
  border width: 5px;
  border-style: solid;
  border-color: #FE5E5E;
}

.carousel img {
  border-radius: 24px;
  border-width: 5px;
  border-style: solid;
  border-color: #FE5E5E;
}
