<div id="content">
    <mat-card id="ueberschrift">
      <h1>Über uns</h1>
    </mat-card>
    
    <mat-card>
     <p>Tender ist eine Bestellplattform für Menschen die exklusives Fleisch mögen, und daher gerne die Herkunft der Rinder genauestens Ermitteln wollen.
         Alle Angebotenen Rinder werden von unseren Mitarbeitern auf die einhaltung unserer kritischen Qualitätsstandards geprüft.
      </p>
  
     <p>Diese Web-Applikation wurde für die Vorlesung "Web-Programmierung" an der DHBW-Karlsruhe von den drei Studenden Robin Böhringer, Theodor Thiessen und Enes Özdogan umgesetzt.
         Für die Umsetzung wurden unter Anderem <a href="https://angular.io/">Angular</a>, <a href="https://firebase.google.com/">Firebase</a> und <a href="https://material.io/">Material</a> genutzt.
         Weitere Hilfsmaterialien waren die Dokumentation des genutzten Frameworks und der Datenbank, ebenfalls die Inhalte aus der Vorlesung und eine Boilerplate von <a href="https://github.com/jeroenouw">Jeroenouw</a> mit dem Namen <a href="https://github.com/jeroenouw/AngularMaterialFirebase">AngularMaterialFirebase</a>.
      </p>
    </mat-card>
  </div>
      